<h1>Demographics</h1>
<%= link_to "<= Back to Home", root_path %>
<h3>Population:</h3>
<br/>
<h2>
<ul>
<li>The <u>US Population</u> is 311 Million</li>
<li>3.3 Million are Chinese</li>
	</ul>
<ul>
	<right><%= link_to image_tag("califlag.png") %></right>
<li><u>California's Population</u> is 37.2 Million</li>
<li>1.2 Million (3.4%) are Chinese</li>
<li>40% of the Chinese-American population resides in CA</li>
</ul>
<br/>
<ol>
<lh><u>Bay Area Chinese Populations</u>:</lh>
<li>San Francisco – 160,947</li>
<li>Santa Clara County – 129,162</li>
<li>San Jose – 57,974</li>
<li>Oakland- 34,253</li>
<li>Fremont – 31,517</li>
</ol>
<ul>
<lh><u>Chinese Communities in the Bay Area</u>:</lh>
<li>Cupertino – 23.8% (12,031) –Taiwanese</li>
<li>Millbrae – 16.5% Hong Kong Chinese</li>
<li>Foster City – 16.5% Taiwanese</li>
<li>Milpitas – 12.9% Taiwanese, Hong Kong Chinese, Mainland Chinese</li>
<li>San Leandro – 10.1% (8,147) – Hong Kong Chinese, Mainland Chinese</li>
</ul>
</h2>

<h3>Socio-Economic Status</h3>
<right><%= link_to image_tag("home.png") %></right>
<h2>
<u>Bay Area</u>
<ul>
	<li>Income: $69,000</li>
	<li>Home Ownership:</li>
	<ul>
	 <li>Own: 55%</li>
	 <li>Rent: 38%</li>
	</ul>
	<li>Household Size:</li>
	 <ul>
		<li>3.4</li>
	 </ul>
	<li>Average Years in the US: 14 Years</li>
	</ul>
</ul>
</h2>