<h1>Essay: My Journey</h1>
<%= link_to "<= Back to Home", root_path %>
<p>
My journey into the Chinese-American community was very different and exciting. Although my experiences were but a mere glimpse into this rich and diverse culture I still feel like I learned a significant amount of information and stepped out of my cultural bubble. The following paragraphs discuss these experiences and explain what I learned. They begin with my trip to chinatown in San Francisco with my group, then discuss my excursions through the Chinese markets, and end with how I learned to cook an authentic Chinese dish. 
</p>
<p>
	It all began when my group and I met in San Francisco to explore Chinatown. We had an excellent time. We learned about tea from a woman at the Hilton hotel. She showed us how to serve Chinese tea and explained how all the different teas cure various ailments. She served us Oolong tea and said that it helped digestion and cleaned our the intestinal track. We then went to an art gallery where the most amazing thread art was displayed. The curator at the gallery explained to us that the pieces which looked like paintings were actually sewed into the canvas. Each piece took over eighteen months to make and was created by an artist living in China.
	</p>
	<p>
	We went on through dozens of tea and wellness shops but what caught my eye (and nose) the most was the food. We had lunch at House of Nanking which is an excellent restaurant in Chinatown on the side that is closest to North Beach. We then went through the markets and saw interesting dishes and produce. One thing that made an impression on me was dragon fruit. It is a fruit that has a pink flowery skin with an inside that resembles a kiwi. 
	</p>
	<p>
	After our Chinatown trip I started to explore the Chinese and Asian markets in San Jose. I went to Ranch 99 which is a very large Asian market that has everything. I was able to pick out a live fish and have them deep fry it right in front of me. I also went to their buffet where I filled my plate with fried sardines, prawns and tantalizingly salty bok choy. I ate so much that I could barely walk out of the store. 
	</p>
	<p>
	After my trip to the markets I interviewed a Chinese-American woman named Vivian about her experiences moving from China to the US. Her story was very interesting and from what she told me it seems like her parents had to sacrifice so much to live here in the US. When we got into the topic of food Vivian explained that when she first moved here when she was five years old her parents did not have a lot of money. They had to make food that was very inexpensive. Vivian's favorite dish that her mother made for her as a child was a Chinese dumpling called “Jiaozi.” Jiaozi is eaten all throughout China during the Chinese New Year and is eaten in the northern provinces year round. It is thicker than a wonton and has several ingredients making its flavor very complex. 
	</p>
	<p>
	We talked about Jiaozi for some time until Vivian suggested that she teach me how to make it. I got very excited because my favorite part about this assignment was the food and now I was going to get to make an authentic Chinese dish. That weekend we were supposed to meet up but unfortunately Vivian had to cancel. She sent me the recipe and instructions on how to cook it and said “good luck!” The ingredients list was very long and I was surprised when it required that I make my own dough which I had never done before. It took me over four hours to make but after a little trial and error I successful made Jiaozi. It tasted so good that I made it again for the class to try during my group's presentation. 
	</p>
	<p>
	Although food was the theme throughout my journey, I learned much more than how to cook Jiaozi. My interview with Vivian gave me insight into the world of someone who grew up with two different languages and cultures. She explained to me in great detail the academic adversities she faced in school and how her parents helped her overcome them with their encouragement and strict parenting. As a future teacher these insights were very interesting and valuable to me. In my travels through the Chinese markets I learned about nonwestern treatments for ailments like the magic power of ginseng. I expanded my palate to variety of new foods which are now not so foreign to me. Overall this assignment pushed me to not only research facts about the Chinese-American community but to also learn about it through experiencing it.
	</p>
