<h1>Highlights in History</h1>
<%= link_to "<= Back to Home", root_path %>
<h3>Waves of Chinese Immigration:</h3>
<h2>
<ul>
<li>1849 – 1882</li>
<ul>
<right><%= link_to image_tag("goldrush.png") %></right>
<right><%= link_to image_tag("railroad.png") %></right>
<li>California Gold Rush</li>
<li>Transcontinental Railroad</li>
<li>Chinese Exclusion Act of 1882</li>
</ul>
<li>San Jose Chinatown Arson Fire 1887 – John Heinlen</li>
<li>1940s – 1980s:</li>
<ul>
<li>World War II Immigration</li>
<li>Nationality Act of 1965 abolishes National Origins Formula.</li>
</ul>
</ul>
</h2>