<h1>Issues</h1>
<%= link_to "<= Back to Home", root_path %>
<h3>Hate Crimes and Discrimination:<h3>
	<right><%= link_to image_tag("m1.png") %></right>
	<right><%= link_to image_tag("m2.png") %></right>
<h2>
<ul>
<li>LCPL Harry Lew (driven to suicide from racist military hazing)
<li>Private Danny Chen (also driven to suicide from racist military hazing)
</ul>
</h2>

<h3>In the Media:</h3>
<h2>
<ul>
	<right><%= link_to image_tag("lin.png") %></right>
<li>The offensive Pete Hoekstra Super Bowl commercial (watch video)</li>
<li>Racist comment about Jeremy Lin</li>
</ul>
</h2>
<p>
<iframe width="300" height="169" src="http://www.youtube.com/embed/TkQAalcsg5E" frameborder="0" allowfullscreen></iframe>
</p>
