<h1>Jiaozi Tutorial</h1>
<%= link_to "<= Back to Home", root_path %>
<h3>Recipe</h3>
<h2>
	<right2>
	<h3>Instructional Video</h3>
	<iframe width="400" height="225" src="http://www.youtube.com/embed/-BXWsiVF-yU" frameborder="0" allowfullscreen></iframe>
	</right2>
<ul>
	<lh><u>Jiaozi Dough</u>:</lh>
	<li>3 cups all-purpose flour</li>
	<li>1 1/4 cups cold water</li>
	<li>1/4 teaspoon salt</li>
</ul>
<ul>
	<lh><u>Filling</u>:</lh>
	<li>1 cup ground beef or pork</li>
	<li>1 tablespoon soy sauce</li>
	<li>1 teaspoon salt</li>
	<li>1 tablespoon rice wine vinegar</li>
	<li>3 tablespoons sesame oil</li>
	<li>1 green onion, finely diced</li>
	<li>1 1/2 cups finely shredded Napa cabbage</li>
	<li>4 tablespoons shredded bamboo shoots</li>
	<li>2 slices fresh ginger, finely diced</li>
	<li>1 clove garlic, peeled and finely diced</li>
</ul>
</h2>
