<h1>Markets</h1>
<%= link_to "<= Back to Home", root_path %>
<p>Exploring the Ranch 99 Market.</p>
<p><%= link_to image_tag("food1.png") %><%= link_to image_tag("food3.png") %></p><%= link_to image_tag("food2.png") %></p>
