<h1>References</h1>
<%= link_to "<= Back to Home", root_path %>
<ul>
<li>Chinese american demographics. (n.d.). Retrieved from http://www.ameredia.com/resources/demographics/chinese.html</li>
<li>Chinn, T. (1999). A history of the chinese in california. Retrieved from http://cprr.org/Museum/Chinese_Syllabus.html</li>
<li>Emery, D. (Febr). Radar-online.com. Retrieved from http://www.radaronline.com/exclusives/2012/02/jeremy-lin-racist-comment-espn-writer-fired</li>
li>(n.d.). Retrieved from http://www.cacanational.org/</li>
<li>(n.d.). Retrieved from http://www.cacc-sc.org/</li>
<li>(n.d.). Retrieved from http://en.wikipedia.org/wiki/Sound_of_Hope</li>
<li>(n.d.). Retrieved from http://www.singtaousa.com/media/consumer.html</li>
<li>Smith, C. [Web log message]. Retrieved from http://cassiesmith.hubpages.com/hub/Racism-Still-Exists-in-Our-Military</li>
<li>Wei, W. (1963). The chinese american experience 1857-1892. Retrieved from http://immigrants.harpweek.com/chineseamericans/1Introduction/BillWeiIntro.htm</li>
<li>Wikipedia. (2012, February 16). Wikipedia. Retrieved from http://en.wikipedia.org/wiki/Immigration_and_Nationality_Act_of_1965</li>
</ul>
